/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 3, 2016, 1:51:38 PM
    Author     : Mithun
*/

.accountTable{   
   border-collapse:collapse;
   border:1px solid #000000;
}

.accountTableHeader{
   text-align:center;
   background:none repeat scroll 0 0 #B5B5B5;
   border-bottom:1px solid #000000;  
   padding:2px;
}

.accountTableOddRow{
   text-align:center;
   background:none repeat scroll 0 0 #FFFFFF;	
}

.accountTableEvenRow{
   text-align:center;
   background:none repeat scroll 0 0 #D3D3D3;
}