#page{
	width: 800px;
	margin: 0 auto;
}

#bodycontent{
    width: 100%;
    float: left;
}

#header{
	width: 100%;
	margin-bottom:16px;
            float: left;
}
#accordian{
    width:12%;
        float: left;
        overflow: visible;
}
#content{
    width:85%;
        float:right;
        overflow:visible;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 3, 2016, 7:59:55 PM
    Author     : Mithun
*/

