<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:body>
        <h:form>
        <br></br>
    <p:menubar>

        <p:menuitem value="Weather-Matic" url="http://www.primefaces.org"/>
 
        <f:facet name="options">
            User : #{session.getAttribute("use")}
            <p:commandButton action="#{accountController.logoutContainer()}" value="Logout" icon="ui-icon-extlink"/>
        </f:facet>
    </p:menubar>
        </h:form>
    </h:body>
</ui:composition>