<ui:composition template="maintemplate.xhtml"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<ui:define name="content">
    <h:body>  
        
        <h:form id="insertWeather">
    <h:panelGrid columns="3" cellpadding="5">
        
        <p:outputLabel for="recordedDate" value="Date Recorded : " />
        <p:inputMask id="recordedDate" required="true" value='#{weatherController.newWeather.recordedDate}' mask="9999-99-99"/>
        <p:message for="recordedDate"/>
                   
        <p:outputLabel for="temperature" value="Temperature :" />                
         <p:inputNumber id="temperature" required="true" value='#{weatherController.newWeather.temperature}' symbolPosition="s"/> 
        <p:message for="temperature"/>
        
        <p:outputLabel for="humidity" value="Humidity :" />                
         <p:inputNumber id="humidity" value='#{weatherController.newWeather.humidity}' symbol="%" symbolPosition="s"/> 
 <p:message for="humidity"/>
 
       <p:outputLabel for="condition" value="Condition :" />                
         <p:inputText id="condition" value='#{weatherController.newWeather.condition}'/> 
 <p:message for="condition"/>
 
      <p:outputLabel for="comments" value="Comments :" />                
         <p:inputText id="comments" value='#{weatherController.newWeather.comments}'/> 
 <p:message for="comments"/>
 
         <p:commandButton update="insertWeather" value="Submit" validateClient="true" action="#{weatherController.insertWeather()}" style="margin-right:10px">
                <p:confirm header="Confirmation" message="Are you sure you want to Insert this?" icon="ui-icon-alert" />
        </p:commandButton>
    </h:panelGrid>
    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
    </p:confirmDialog>    
   </h:form>
        
        <h:form>
            
        <p:commandButton value="View All Records" action="viewrecords?faces-redirect=true"/>
        </h:form>
            
    </h:body>
</ui:define>
</ui:composition>