<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <f:metadata>
    <f:viewAction action="#{accountController.checkSignup()}" />
</f:metadata> 
    <h:head>
        <h3><b>Weather-Matic</b></h3>
    </h:head>
    <h:body>
        
                <h:form id="loginForm" >
    <h:panelGrid columns="3" cellpadding="5" >
        
        <p:outputLabel for="username" value="Username :" />
        <p:inputText id="username" required="true" value='#{accountController.logge.username}'/>
            <p:message for="username" />
        <p:outputLabel for="password" value="Password :" />                
         <p:inputText type="password" required="true" id="password" value='#{accountController.logge.password}'/>
            <p:message for="password" />
        <p:commandButton update="loginForm" value="Login" action="#{accountController.loginContainer}" validateClient="true" style="margin-right:10px"/>
        </h:panelGrid>
                </h:form>
        <br></br>
        <h:link value="Not a Member Click Here to Signup" outcome="signup?faces-redirect=true" />
        
            </h:body>
</html>

