<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets" 
>
    <h:head>
         <link href="resources/css/template-style.css" rel="stylesheet" type="text/css"/>
        <title>
            <ui:insert name="title">Weather-Matic</ui:insert>
        </title>        
    </h:head>
    <h:body>
<div id="header">
    <ui:include src="header.xhtml"/>
</div>
        <div id="bodycontent">
 <div id="accordian">
     <ui:include src="menu.xhtml"/>
     </div>
 <div id="content">
        <ui:insert name="content" />
 </div>
        </div>
    </h:body>
</html>