<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:body> 
        <h:form>  
    <p:growl id="messages" showDetail="false"/>
 
    <h3 style="margin-top:0"></h3>
    <p:menu>
        <p:submenu label="Records">
            <p:menuitem value="Insert" action="insertRecord.xhtml?faces-redirect=true" update="messages" icon="ui-icon-disk" />
            <p:menuitem value="Update/Delete" action="updateRecord.xhtml?faces-redirect=true" update="messages" icon="ui-icon-arrowrefresh-1-w"/>
            <p:menuitem value="View/Export" action="viewrecords.xhtml?faces-redirect=true" update="messages" icon="ui-icon-open"/>
        </p:submenu>
        <p:submenu label="Accounts"> 
            <p:menuitem value="My Info" action="myInfo.xhtml?faces-redirect=true" update="messages" ajax="false" icon="ui-icon-star"/>
        </p:submenu>
    </p:menu>
        </h:form>
    </h:body>
 </ui:composition>

