<ui:composition template="maintemplate.xhtml"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<ui:define name="content">
    <h:head>
    </h:head>
    <h:body>           
    <h:form id="myInfoForm">
    <h:panelGrid columns="3" cellpadding="5">
        <br></br>
       <p:outputLabel for="firstname" value="First Name :" />                
         <p:inputText id="firstname" value='#{accountController.myInfo.firstName}'> 
             <f:validateLength minimum="3" maximum="10" />
         </p:inputText>
        <p:message for="firstname"/>
        
       <p:outputLabel for="lastname" value="Last Name :" />                
         <p:inputText id="lastname" value='#{accountController.myInfo.lastName}'>
         </p:inputText>
        <p:message for="lastname"/>
         
       <p:outputLabel for="email" value="Email :" />                
         <p:inputText id="email" value='#{accountController.myInfo.email}'> 
         </p:inputText>
        <p:message for="email"/>
         
         <p:outputLabel for="DOB" value="Date Of Birth :" />
        <p:inputMask id="DOB" value='#{accountController.myInfo.dob}' mask="9999-99-99">
         </p:inputMask>
        <p:message for="DOB"/>
 
        
                <p:commandButton update="myInfoForm" value="Update" validateClient="true" action="#{accountController.updateUserInfo()}">     
        <p:confirm header="Confirmation" message="Are you sure you want to edit this?" icon="ui-icon-alert" />
        </p:commandButton>
           </h:panelGrid>
    
       <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
    </p:confirmDialog>
             </h:form>
        
    </h:body>
</ui:define>
</ui:composition>

