<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Sign up</title>
    </h:head>
    <h:body>      
        <h:form id="signupForm">
    <h:panelGrid columns="3" cellpadding="5">
        
       <p:outputLabel for="firstname" value="First Name :" />                
         <p:inputText id="firstname" required="true" value='#{accountController.userss.firstName}'>
             <f:validateLength minimum="3" maximum="10" />
         </p:inputText>
        <p:message for="firstname"/>
        
       <p:outputLabel for="lastname" value="Last Name :" />                
         <p:inputText id="lastname" value='#{accountController.userss.lastName}'> 
         </p:inputText>
        <p:message for="lastname"/>
         
       <p:outputLabel for="username" value="User Name :" />                
         <p:inputText id="username" required="true" value='#{accountController.userss.userName}'>              
         <f:validateLength minimum="3" maximum="15" />
         </p:inputText>
        <p:message for="username"/>
         
       <p:outputLabel for="password" value="Password :" />                
         <p:inputText id="password" required="true" value='#{accountController.userss.password}'>             
         <f:validateLength minimum="6" maximum="15" />
         </p:inputText>
        <p:message for="password"/>
         
       <p:outputLabel for="email" value="Email :" />                
         <p:inputText id="email" required="true" value='#{accountController.userss.email}'>
         </p:inputText>
        <p:message for="email"/>
         
         <p:outputLabel for="DOB" value="Date Of Birth :" />
        <p:inputMask id="DOB" value='#{accountController.userss.dob}' mask="9999-99-99">
        </p:inputMask>
        <p:message for="DOB"/>
 
        <p:commandButton update="signupForm" value="Sign Up" validateClient="true" action="#{accountController.encryptAndInsert}"/>
        
    </h:panelGrid>
   </h:form>
        <br></br>
        <h:link value="Click Here To Login" outcome="login?faces-redirect=true" />
        
        
        
    </h:body>
</html>

