<ui:composition template="maintemplate.xhtml"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <f:metadata>
    <f:viewAction action="#{accountController.getUserInfo()}" />
</f:metadata> 
<ui:define name="content">
       
           <h:form>
       
               <br></br>
       <p:dataTable id="weathertable" var="weatherlis" value="#{weatherController.getWeatherList()}" selectionMode="single" selection="#{weatherController.selectedWeather}" rowKey="#{weatherlis.id}">
           <f:facet name="header">
            Weather Records
        </f:facet>
        <p:column headerText="ID">
            <h:outputText value="#{weatherlis.id}" />
        </p:column>
           
        <p:column headerText="Recorded By">
            <h:outputText value="#{weatherlis.recordedBy}" />
        </p:column>
           
        <p:column headerText="Recorded Date">
            <h:outputText value="#{weatherlis.recordedDate}" />
        </p:column>
           
        <p:column headerText="Temperature">
            <h:outputText value="#{weatherlis.temperature}" />
        </p:column>
           
        <p:column headerText="Humidity">
            <h:outputText value="#{weatherlis.humidity}" />
        </p:column>
           
        <p:column headerText="Condition">
            <h:outputText value="#{weatherlis.condition}" />
        </p:column>
           
        <p:column headerText="Comments">
            <h:outputText value="#{weatherlis.comments}" />
        </p:column>
           
        <f:facet name="footer">
            <p:commandButton process="weathertable" icon="ui-icon-search" value="Update" action="#{weatherController.tryUpdate('edit')}"/>
            <p:commandButton process="weathertable" icon="ui-icon-search" value="Delete" actionListener="#{weatherController.tryUpdate('delete')}">
        <p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-alert" />
        </p:commandButton>
        </f:facet>
    </p:dataTable> 
               
       <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
    </p:confirmDialog>
               
       
   </h:form>
</ui:define>
</ui:composition>

